@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.heading{
  text-align: center;
  margin: 2rem;
  padding: 2rem;
  background-color:#ffffff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-container {
  padding: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card {
  display: grid;
  place-items: center;
  padding: 10px;
  background-color:#ffffff;
  border-radius: 8px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info-container {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}