<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC BANK || About</title>
    <link rel="stylesheet" href="./css/about.css">
</head>

<body>
    <nav>
        <%- include ('navbar') -%>
    </nav>
    <div class="image">
        <img src="./images/bg_bank.jpg" alt="">
    </div>
    <div class="outter-most">
        <div class="info">
            <h3 style="text-align: center;padding: 10px;">Founders Story</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente rerum suscipit nulla quibusdam omnis.
            Maxime error expedita reprehenderit quaerat tempora, vero natus illum saepe aspernatur voluptate
            quisquam in quis alias.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas ducimus facere nobis deserunt. Maxime
            explicabo illum dolorem, exercitationem ad, nobis molestiae qui blanditiis facilis accusantium nisi
            possimus. Nisi, porro omnis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus debitis odio quasi exercitationem, sunt excepturi ipsam? Ex voluptatum saepe debitis totam distinctio nemo maxime esse atque veritatis! Aliquam, repellat doloremque.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam illum dolorem doloremque totam officiis, aspernatur commodi! Aperiam quisquam vel, ipsam eum ullam, modi ut error est sequi placeat reprehenderit sit!
        </div>
        <div class="info">
            <h3 style="text-align: center;padding: 10px;">History of ABC BANK</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente rerum suscipit nulla quibusdam omnis.
            Maxime error expedita reprehenderit quaerat tempora, vero natus illum saepe aspernatur voluptate
            quisquam in quis alias.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas ducimus facere nobis deserunt. Maxime
            explicabo illum dolorem, exercitationem ad, nobis molestiae qui blanditiis facilis accusantium nisi
            possimus. Nisi, porro omnis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus debitis odio quasi exercitationem, sunt excepturi ipsam? Ex voluptatum saepe debitis totam distinctio nemo maxime esse atque veritatis! Aliquam, repellat doloremque.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam illum dolorem doloremque totam officiis, aspernatur commodi! Aperiam quisquam vel, ipsam eum ullam, modi ut error est sequi placeat reprehenderit sit!
        </div>
        <div class="info">
            <h3 style="text-align: center;padding: 10px;">Term & policy</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente rerum suscipit nulla quibusdam omnis.
            Maxime error expedita reprehenderit quaerat tempora, vero natus illum saepe aspernatur voluptate
            quisquam in quis alias.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas ducimus facere nobis deserunt. Maxime
            explicabo illum dolorem, exercitationem ad, nobis molestiae qui blanditiis facilis accusantium nisi
            possimus. Nisi, porro omnis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus debitis odio quasi exercitationem, sunt excepturi ipsam? Ex voluptatum saepe debitis totam distinctio nemo maxime esse atque veritatis! Aliquam, repellat doloremque.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam illum dolorem doloremque totam officiis, aspernatur commodi! Aperiam quisquam vel, ipsam eum ullam, modi ut error est sequi placeat reprehenderit sit!
        </div>
    </div>
    <footer>
        <%- include ('footer') -%>
    </footer>
</body>

</html>