<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>history</title>
    <link rel="stylesheet" href="./css/history.css">
</head>
<body>
    <nav>
        <%- include ('navbar') -%>
    </nav>
    <div class="heading">Account history of Dooth nath singh</div>
    <div class="card-container">
        <div class="card">
            <p>Dooth nath Singh</p>
            <p>Time : 21:40:56</p>
            <p>Deposited : 50000</p>
        </div>
        <div class="card">
            <p>Dooth nath Singh</p>
            <p>Time : 21:40:56</p>
            <p>Transfred : 4000 to sybl@1487</p>
        </div>
        <div class="card">
            <p>Dooth nath Singh</p>
            <p>Time : 21:40:56</p>
            <p>Transfred : 8000 to 6080908765</p>
        </div>
        <div class="card">
            <p>Dooth nath Singh</p>
            <p>Time : 7:40:56</p>
            <p>Creadited : 10000</p>
        </div>
        <div class="card">
            <p>Dooth nath Singh</p>
            <p>Time : 21:40:56</p>
            <p>Transfred : 4000 to sybl@1487</p>
        </div>
        <div class="card">
            <p>Dooth nath Singh</p>
            <p>Time : 21:40:56</p>
            <p>Transfred : 4000 to sybl@1487</p>
        </div>
        <div class="card">
            <p>Dooth nath Singh</p>
            <p>Time : 21:40:56</p>
            <p>Transfred : 4000 to sybl@1487</p>
        </div>
        <div class="card">
            <p>Dooth nath Singh</p>
            <p>Time : 21:40:56</p>
            <p>Transfred : 4000 to sybl@1487</p>
        </div>
        <div class="card">
            <p>Dooth nath Singh</p>
            <p>Time : 21:40:56</p>
            <p>Transfred : 4000 to sybl@1487</p>
        </div>
        <div class="card">
            <p>Dooth nath Singh</p>
            <p>Time : 21:40:56</p>
            <p>Transfred : 4000 to sybl@1487</p>
        </div>
        <div class="card">
            <p>Dooth nath Singh</p>
            <p>Time : 21:40:56</p>
            <p>Transfred : 4000 to sybl@1487</p>
        </div>
        <div class="card">
            <p>Dooth nath Singh</p>
            <p>Time : 21:40:56</p>
            <p>Transfred : 4000 to sybl@1487</p>
        </div>
    </div>
    <footer>
        <%- include ('footer') -%>
    </footer>
</body>
</html>