<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfermoney</title>
    <link rel="stylesheet" href="./css/Transfermoney.css">
</head>
<body>
    <nav>
        <%- include ('navbar') -%>
    </nav>

    <div class="container">
        <h1>Transfer Money</h1>
        <input type="text" placeholder="Account No">
        <input type="text" placeholder="IFSC Code">
        <input type="text" placeholder="Amount">
        <input type="text" placeholder="Account holder Name">
        <button>
            Transfer
        </button>
    </div>


    <footer>
        <%- include ('footer') -%>
    </footer>
</body>
</html>